/target/
!.mvn/wrapper/maven-wrapper.jar

### generated sources ###
/src/main/generated-sources

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### various local ignores
*arcchive*
*cron*.yaml
*Deployment*.yaml

### mvnw stuff
mvnw*
HELP*
